@charset "utf-8";

#container {
    background-color: lime;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.item1, .item3 {
    background-color: red;
    width:200px;
    height: 200px;
}

.item2 {
    background-color: blue;
    width:200px;
    height: 200px;
    margin: 0 20px;
}