@charset "utf-8";
/* -----ドイツ国旗 ここから-----*/
#germany {
    width: 500px;
    height: 300px;
    background-color: red;
    margin: 20px;
}

.black {
    width: 100%;
    height: 100px;
    background-color: black;
}

.yellow {
    width: 100%;
    height: 100px;
    background-color: yellow;
}
/* -----ドイツ国旗ここまで----- */

/* -----日本国旗ここから----- */
#japan {
    width: 500px;
    height: 300px;
    border: 1px solid;
    margin: 0 auto;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin:50px 150px
}
/* -----日本国旗ここまで----- */