@charset "utf-8";
/* 以下に記述 */
body {
    display: flex;
    justify-content: center;
    text-align:center ;
}

img {
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

